body{
  background-color: #ee6e73;
  /* background: linear-gradient(90deg, #34495e, #2c3e50); */
} 

.container h1 {
  color: #f4f4f4
}

p, b{
  color: #746c6c;
  font-weight: 600;
  margin-top: 10px;
}

.card {
  height: 290px;
  width: 170px;
  margin-right: 3px;
}

h3{
  color: #fff;
  font-weight:500;
}