body{
  background-color: #ee6e73;
  /* background: linear-gradient(90deg, #34495e, #2c3e50); */
} 

.container h1 {
  color: #f4f4f4
}

.product_title{
  color: #746c6c;
  font-weight: 500;
  height: 17px;
}

.card-img-top{
  height: 174px;
  width: 120px;
}

.card-text{
  color: #746c6c;
  margin-top: 35px;
}

.card {
  height: 290px;
}

h3{
  color: #fff;
  font-weight:500;
}

a{
  text-decoration: none !important;
}
