body{
  background-color: #ee6e73;
  /* background: linear-gradient(90deg, #34495e, #2c3e50); */
} 

.container h1 {
  color: #f4f4f4
}

.card-text{
  color: #746c6c;
}

.card {
  height: 290px;
}

h3{
  color: #fff;
  font-weight:500;
}

